header{
  color: white;
  background-color: rgb(43, 42, 42);
  height: 80px;
  width: 100%;
  border-bottom: solid 1px black;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.searchbar{
  margin-top: 100px;
  margin-left: 85%;
}

.Searchlebel{
  color: white;
  font-size: 20px;
}

#SearchBar{
  background-color: rgb(43, 42, 42);
}

.ULTRAKILLCard{
  position: relative;
  border: none white 2px;
  width: 400px;
  height: 250px;
  left: 200px;
}

.ULTRAKILLImg{
  height: inherit;
  width: 400px;
  height: 250px;
  cursor: pointer;
}

.ULTRAKILL-LEBEL-CARD{
  position: relative;
  border: none white 2px;
  left: 200px;
  display: inline;
}

#ultrakill-button{
  width: 200px;
  height: 50px;
  font-size: 30px;
  background-color: rgb(32, 32, 32);
  border: none;
  cursor: pointer;
  transition: 0.2s;
  color: white;
}

#ultrakill-button:hover{
  color: red;
}

#ultrakill-button:active{
  border: solid 1px black;
}