header{
  color: white;
  background-color: rgb(43, 42, 42);
  height: 80px;
  width: 100%;
  border-bottom: solid 1px black;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.searchbar{
  margin-top: 100px;
  margin-left: 85%;
}

.Searchlebel{
  color: white;
  font-size: 20px;
}

#SearchBar{
  background-color: rgb(43, 42, 42);
}

.GAME-NAME{
  color: white;
  text-align: center;
}

.Details{
  position: relative;
  color: white;
  left: 500px;
  display: inline;
}

.EldenRing-main-Img
{
  width: 600px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: none;
  border-radius: 10px;
}
.EldenRing-img{
  width: 600px;
  height: 350px;
  border-radius: 10px;
}
.Game-exact-details{
  position: relative;
  border: none;
  width: 250px;
  height: 200px;
  color: white;
  left: 500px;
  font-size: larger;
}

#screenshots{
  position: relative;
  top: 50px;
  text-align: center;
  color: white;
}


.screenshot-1{
  width: 600px;
  height: 335px;
  margin-left: 650px;
  margin-top: 100px;
  border: none;
  border-radius: 10px;
}

.screenshot-2{
  width: 600px;
  height: 335px;
  margin-left: 650px;
  margin-top: 50px;
  border: none;
  border-radius: 10px;
}

#About{
  position: relative;
  top: 50px;
  left: 600px;
  color: white;
  display: inline;
}

#exact-about-game{
  border: none;
  width: 600px;
  height: 200px;
  color: white;
  font-size: larger;
  margin-top: 100px;
  margin-left: 600px;
}

.System{
  position: relative;
  top: 50px;
  left: 600px;
  color: white;
  display: inline;
}

.MINIMUM{
  border: none;
  width: 50px;
  height: 30px;
  color: rgb(197, 197, 197);
  font-size: larger;
  margin-top: 100px;
  margin-left: 600px;
}

ul{
  position: relative;
  border: none;
  width: 250px;
  height: 200px;
  color: white;
  left: 550px;
  font-size: larger;
}

.download-text{
  position: relative;
  text-align: center;
  color: white;
  top: 100px;
}

.download-button{
position: relative;
  width: 200px;
  height: 50px;
  top: 150px;
  left: 45%;
  background-color: rgb(54, 160, 54);
  border: none;
  cursor: pointer;
  font-size: larger;
  transition: 1s;
  border-radius: 10px;
}

.download-button:hover{
  opacity: 0.8;
}

.download-button:active{
  opacity: 0.5;
}

.footer-text{
  height: 100px;
  margin-top: 100px;
  margin-left: 20px;
  color: white;
  display: inline;
}